<div class="sidebar-container">
    <div class="sidebar-logo" >
      <a routerLink="/Anasayfa" routerLinkActive="active"  class="navbar-brand" style="font-family: fantasy; color: black;"  >ANASAYFA</a>
    </div>
  
    <ul class="sidebar-navigation">
      <li class="header">İlköğretim</li>
      <li>
        <a [routerLink]="['Anasayfa', 1]">
          <i class="fa fa-home" aria-hidden="true" ></i> Matematik
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Türkçe
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Hayat Bilgisi
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> İngilizce
        </a>
      </li>
      


  <li class="header">Ortaokul</li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Matematik
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-cog" aria-hidden="true"></i> Türkçe
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-info-circle" aria-hidden="true"></i> İnkılap Tarihi ve Atatürkçülük
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Fen Bilimleri
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> İngilizce
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Sosyal Bilgiler
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Din Kültürü ve Ahlak Bilgisi
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Bilişim Teknolojileri
    </a>
  </li>

  <li class="header">Lise</li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Matematik
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-cog" aria-hidden="true"></i> Geometri
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-info-circle" aria-hidden="true"></i> Fizik
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Kimya
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Biyoloji
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Edebiyat
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Dil ve Anlatım
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Tarih
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Coğrafya
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> Felsefe
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users" aria-hidden="true"></i> İngilizce
    </a>
  </li>
</ul>
</div>
  
